<html>

<head>
  <meta charset="UTF-8">
  <title>Higly secure website</title>
</head>

<body>
  <h1>
    Sensitive data !
  </h1>
  <p>Hello from {{ pod_name }}</p>
  <img src="http://turnoff.us/image/en/before-devops-after-devops.png" />
</body>

</html>
